.overlay {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(56, 53, 53, 0.345);

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.m-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  background-color: rgb(21, 27, 36);
  height: 34rem;
  width: 40rem;

  border-top-left-radius: 30rem 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 40rem 1.5rem;
  border-bottom-right-radius: 35rem 140px;

  border: solid thin;
  border-color: #e3b94477;
  align-items: center;
  align-content: center;

  box-shadow: rgba(119, 116, 116, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: hsl(23, 100%, 55%);
    margin-top: 8rem;
    padding-bottom: 0rem;
  }

  img {
    width: 8rem;
    padding-bottom: 1rem;
  }
  p {
    padding: 0.5rem 0;
    padding-bottom: 1rem;
  }

  .m-content {
    margin-top: -7rem;
  }
  .img-fox2 {
    margin-top: 4.2rem;
    margin-bottom: -1.5rem;
    width: 16rem;
  }

  h2,
  h3 {
    color: hsl(14, 100%, 63%);
  }
}
