:root {
  /* background-color: #23272e;
  */

  background-color: #23242c;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.09rem;
}

a {
  text-decoration: none;
  color: black;
}
